{% extends 'base.html' %}

{% block content %}

<br/>

{% if city_name %}
      {{ zipcode }}
{% endif %}      

{% if api%}
    {% if api == "Error..."%}
        There was an error, please try again...
    {% else %}

<div class="jumbotron">
  <h1 class="display-4">Weather: {{ api.weather.0.main}}/{{api.weather.0.description}}<br/>
  <p class="lead">Temperature: {{api.main.temp}} Celsius, {{api.main.temp_max}}C / {{api.main.temp_min}}C<br/></p>
  <p class="lead">Country: {{api.sys.country}}<br/>
<br/>
City: {{api.name}}<br/></p>
</div>

    
     {% endif %}
{% endif %}




 

{% endblock %}