{% extends 'base.html' %}

{% block content %}

<br/>

{% if api%}
    {% if api == "Error..."%}
        There was an error, please try again...
    {% else %}

<div class="jumbotron">
  <h1 class="display-4">Pollution: {{api.data.current.pollution.aqius}} US AQI<br/>
  <p class="lead">Temprature: {{api.data.current.weather.tp}}C <br/>
    Humidity: {{api.data.current.weather.hu}}% | Wind: {{api.data.current.weather.wd}} km/h | Pressure:{{api.data.current.weather.pr}} mb | </p>
  <p class="lead">Location: {{api.data.city}}, {{api.data.state}}<br/>
  {{api.data.country}}</p>
</div>

    
     {% endif %}
{% endif %}




 

{% endblock %}